<html>
<head>
    <title>Hair Salon</title>
</head>
<body>
    <h1>Welcome to the Hair Salon</h1>

    <p>Create a new Stylist:</p>

    <form action="/stylists" method="post">
        <label for="name">Stylist name:</label>
        <input id="name" name="name" type="text">

        <button type="submit">Add stylist</button>
    </form>

    {% if stylists is not empty %}
        <p>Here are all your stylists:</p>
        <ul>
            {% for stylist in stylists %}
                <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>There are no stylists yet!</p>
    {% endif %}

</body>
</html>
